<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="ProNombre">Nombre:</label>
        <input type="text" id="ProNombre" name="ProNombre" required value="{{ producto.1 }}">
        <label for="ProDescripcion">Descripción:</label>
        <input type="text" id="ProDescripcion" name="ProDescripcion" required value="{{ producto.2 }}">
        <label for="ProPrecio">Precio:</label>
        <input type="number" id="ProPrecio" name="ProPrecio" step="0.01" required value="{{ producto.3 }}">
        <label for="ProCosto">Costo:</label>
        <input type="number" id="ProCosto" name="ProCosto" step="0.01"  required value="{{ producto.4 }}">
        <label for="ProStock">Stock:</label>
        <input type="number" id="ProStock" name="ProStock" required value="{{ producto.5 }}">
        <input type="submit" value="Editar Producto">
    
</body>
</html>