<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Agregar cliente</title>
</head>
<body>
      <form action="" method="POST">
        <label>Nombre:</label>
        <input type="text" name="CliNombre" required maxlength="100">
        
        <label>Apellido:</label>
        <input type="text" name="CliApellido" required maxlength="100">
        
        <label>Correo:</label>
        <input type="email" name="CliCorreo" required maxlength="100">
        
        <label>Teléfono:</label>
        <input type="text" name="CliTelefono" required maxlength="50">
        
        <label>Dirección:</label>
        <textarea name="CliDireccion" rows="4" cols="50" required></textarea>
        
        <input type="submit" value="Agregar Cliente">
        <a href="/">Volver</a>
    </form>

</body>
</html>